{% extends "base.html" %}

{% load static %}
{% block content %}

  <form method="post" enctype="multipart/form-data" id="GroupForm" load-group-url="{% url 'ajax_load_group' %}">

    {% csrf_token %}

    {% for field in form %}
      <div class="field">
          {{field.label}}
          {{field}}
          {{field.errors}}
      </div>
    {% endfor %}

    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <button type="submit">Submit</button>

  </form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'GroupMatching/load_gp.js' %}">

</script>


{% endblock %}
